.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
}

/* 날짜 헤더 */
.header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;

  .week-days {
    width: 14%;
    display: flex;
    text-align: center;
  }

  .current-date {
    text-align: center;
    margin: 10px 0;
  }
}

/* 달력 날짜 */
.monthDays {
  display: flex;
  align-items: center;

  .days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    span {
      width: 14%;
      text-align: center;
      padding: 5px 0;
    }
  }
}


/* 버튼 */
.arrow {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

}

.arrow:hover {
  color: #007bff;
}

/* 주말 표시 */
.sunday {
  color: red;
}

.saturday {
  color: blue;
}