@use "@/styles/variables";

/* Container - 상세 페이지 컨테이너 */
.container {
  width: 940px;
  margin: 5rem auto;
}

// User Section
.details-home {
  display: flex;
  justify-content: flex-end;

  /* [Author]User Name */
  .author-wrapper {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;

    .post-author {
      line-height: 1;
      padding-top: .2rem;
    }
  }

  // item
  .details-item {
    display: flex;
    gap: .5rem;

    .save {
      cursor: pointer;
      background: none;
      border: none;
    }

    // Meatballs Menu - (active, passive)
    .meatballs {
      position: relative;
      cursor: pointer;

      .menu {
        width: 8rem;
        height: 4rem;
        padding: .5rem;
        display: none;
        position: absolute;
        background: variables.$base-color-white;
        border: 1px solid variables.$border-color-forum;
        border-radius: .5rem;
        top: 20px;
        right: 0;
      }

      &.active .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .3rem;
      }
    }
  }
}

/* 상세페이지 Main Content */
.contents {
  margin-top: .5rem;

  .title {
    font-size: 1.875rem;
  }

  .main-text {
    margin-top: 1rem;
  }
}