@use '@/styles/variables';

/* Form */
.form {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem;

  .contents {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px variables.$color-box-shadow;

    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }

    /* Select Menu */
    .board-select-wrap {
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;

      .select-games {
        width: 48%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #f9f9f9;
        font-size: 16px;
        color: #333;

        // 옵션을 클릭할 때 나타나는 화살표 스타일
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23212121"><path d="M4 9.5l4 4 4-4L13 8l-5 5-5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: 95% center;
      }
    }
  }

  /* Header */
  .board-title-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    .board-input-title {
      flex: 1;
      padding: 0.5rem;
      border: 1px solid variables.$color-text-area;
      border-radius: 5px;
      font-size: 1rem;
    }

    .board-title-count {
      margin-left: auto;
      color: #999;
    }
  }

  /* Main */
  .board-content {
    min-height: 200px;
    padding: 0.5rem;
    border: 1px solid variables.$color-gray80;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
  }

  /* Submit Button */
  .btn-wrapper {
    margin-left: auto;
    grid-column: 1 / -1;
    display: flex;

    .submit-btn {
      margin: 0 0.5rem;
      padding: 0.5rem 1rem;
      flex-grow: 1;
      border: none;
      border-radius: 5px;
      transition: background 0.3s ease;
    }

    .submit-btn-delete {
      border: 1px solid variables.$color-gray80;
      color: variables.$base-font-color-dark;
      background: variables.$bg-color-white;

      &:hover { background: variables.$bg-color-hov; }
    }

    .submit-btn-add {
      color: variables.$base-color-white;
      background: #4caf50;

      &:hover { background: #45a049; }
    }
  }
}