@import "@/styles/variables";
@import "@/styles/Breakpoints";

.social {
  background: $bg-color-social;
  margin-bottom: .5rem;
  gap: 0.3rem;
  cursor: pointer;
  width: 320px;
  padding: 0.7rem;
  border: 1px solid $base-font-color;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}