@import '../../../styles/variables';

.user-menu {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

  .item-button {
    background: none;
    border: none;
  }

  // Dropdown Menu
  .list-wrapper {
    width: 11.875rem;
    height: 8.125rem;
    top: 4.063rem;
    right: 0;
    left: auto;
    background: $background-color-white;
    border: 1px solid $border-color-forum;
    border-radius: .5rem;
    position: absolute;
    padding: .5rem 0;

    .list {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-bottom: 0;

      .list-item {
        padding: .5rem 1.5rem;

        .item {
          font-size: .875rem;
          font-weight: 400;
        }
      }
    }
  }

  .img-box {
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;

    .info {
      padding: .4rem .3rem .3rem;
      font-weight: 500;
    }
  }
}