/* ContactUs Form - 동의 페이지 */
.container { // 믹스인
  width: 100%;
  height: 100%;
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;


  /* Start Fieldset 약관 동의 박스 */
  .fieldset {
    width: 100%;
    max-width: 40rem;
    height: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;

    .legend { // 믹스인
      padding: 0.7rem;
      width: fit-content;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    h1 {
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
    }


    /* 약관 동의 상세 페이지 */
    .agree-wrapper {
      width: 30rem;
      height: 30rem;
      padding: 1rem 2.5rem 1rem 2.5rem;
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: auto;

      .article {
        padding: 0.5rem 0 0.5rem 0;

        b {
          padding: 0.5rem 0 0.5rem 0;
          font-size: 13px;
        }

        p {
          margin: 0.1rem 0 0.1rem 0;
          font-size: 13px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            padding: 0.5rem 0 0 0;
            font-weight: bold;
          }
        }
      }
    }


    /* CheckBox Wrapper */
    .checkbox-wrapper {
      margin: 3rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .box {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }


  /* Button Wrapper */
  .wrap-btn {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    /* Cancel Button */
    .submit-btn-delete {
      width: 8rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      font-weight: bold;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #fefefe;
      transition: background 0.1s ease-in-out;

      &:hover {
        background: #f3f4f6;
      }
    }


    /* Check button */
    .submit-btn-add {
      width: 8rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fefefe;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      background: #4caf50;
      transition: background 0.1s ease-in-out;

      &:hover {
        background: #45a049;
      }
    }
  }
}