@use "@/styles/variables";
@use '@/styles/Breakpoints';

/* Header(Navigation) */
.header {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  background: variables.$base-background-main;
  transition: background 0.5s;
  z-index: 100;

  .nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
}

/* [Navigation] Link Wrap */
.navLinkWrap {
  display: flex;
  align-items: center;
  gap: 12vw;
}

.navMenu {
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 3rem;

  .navItem {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;

    /* [Link] 네비게이션 아이템 */
    .navLink {
      font-size: 1rem;
      color: #333;
    }

    /* [active] 네비게이션 액티브 이벤트 */
    .activeLink {
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1.5px solid #9B51E0;
    }
  }
}

/* [Navigation User Session Wrap - Button]
 * 로그인, 로그아웃 버튼 */
.create-btn {
  margin: .5rem 0;
  padding: .713rem .875rem;
  background: transparent;
  border: none;
  color: #5D7D7D;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

/* [Navigation User Session Wrap]
 * 로그인시 노출 */
.userSessionWrap {
  display: flex;
  align-items: center;
  gap: 20px;

  .alarm, .userInfo {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    color: variables.$color-dark-gray;
    cursor: pointer;
  }

  .user-session-info {
    padding: .4rem .3rem .3rem;
    font-weight: 500;
  }
}

.side_menu_open {
  display: none;
}

/* TODO : Responsive Design */
/* [Responsive Mobile] 768px */
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 991px) {
  .navMenu, .userSessionWrap {
    display: none;
  }

  /* 사이드 메뉴 */
  .side_menu {
    display: block;
    position: absolute;
    top: 14px;
    right: 25px;
  }

  .side_menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    height: 50px;
  }

  //.side_menu_header {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  display: flex;
  //  z-index: 50;
  //}

  .side_menu_body {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
  }

  .side_menu_list {
    padding: 38px 16px;
    flex: 1 1;
    overflow: hidden auto;
    z-index: 50;
  }

  .side_menu_link {
    display: block;
    padding: 12px 0;
    line-height: 30px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.2px;
    color: #000;
  }

  .side_menu_footer {
    flex-shrink: 0;
    margin: 0 16px;
    padding: 12px 0 38px;
    border-top: 1px solid rgba(0,0,0,.3);
    z-index: 50;
  }

  .side_menu {
    display: flex;
  }

  .side_menu {
    transform: translateX(100%);
  }

  .side_menu.pageSidebar_open {
    transform: translateX(0);
  }
}