@import "@/styles/variables";
@import "@/styles/Breakpoints";

.submit-btn {
  width: 320px;
  height: 48px;
  margin-bottom: .5rem;
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1em;
  border: none;
  border-radius: 10px;
  color: $base-font-color-dark;
  background: $bg-color-grass;

  &:hover {
    background: $bg-color-grass-hover;
  }
}