@import "@/styles/variables";

.header {
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $base-color-white;
  position: sticky;
  top: 0;

  .navigation {
    margin-right: auto;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 50px;
      font-size: 24px;
    }
  }
}