@use '@/styles/variables';
/* [Login] Dropdown Menu */
.dropdown {
  width: 11rem;
  height: 10.5rem;
  position: absolute;
  border: 1px solid variables.$base-font-color-dark;
  background: variables.$background-color-white;
  border-radius: 5px;
  top: 65px;
  right: 50px;
}

.section {
  padding: .5rem;

  .user {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .menu {
      display: flex;
      align-items: center;

      .user-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}