@use '@/styles/variables';

/* [main] Forum Container */
.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /* 커뮤니티 네비게이션, 작설글 리스트 */
  .container {
    margin: 0 3rem;
  }
}

/* Header */
.forumHeader {
  margin: 2rem 1rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: variables.$border-default-2px;

  .headerTitle {
    margin-right: auto;
    padding: 1rem 1rem 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .history {
    display: flex;
    align-items: center;
  }
}

/* [ForumItem] Post Container */
.forumItemContainer {
  width: 95%;
  margin: 0 0 0 1rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .forumList {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;

    /* [Author]User Name */
    .authorWrap {
      display: flex;
      align-items: center;
      gap: 3px;

      .postAuthor {
        line-height: 1;
        padding-top: .2rem;
      }
    }

    /* Title */
    .titleLink {
      color: #333;
      white-space: normal;

      .titleText {
        margin: 0;
        padding: .3rem 0 0 0;
        font-size: 1.125em;
        font-weight: 500;
      }
    }
  }
}

/* Search Result Fail (검색 결과 없음) */
.search-result-fail {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 500;
  border: variables.$border-default-1px;
  border-radius: 5px;
  background: #f1f1f1;

  p {
    margin: 0;
  }
}