/* Admin Page SLB */
.admin-nav {
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #f0f1f6;

  svg {
    fill: #333;
    transition: transform 0.2s;
  }
}


/* AdminPage Menu */
.admin-menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h3, ul {
    margin: 0;
  }

  li > * {
    width: 100%;
    padding: 12px 15px;
  }

  .menu-heading {
    .title {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 12px;
      margin-top: 12px;
      color: #1d2636;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #1d2636;
    margin-right: 10px;
  }

  a,
  button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #242e42;
    background: #f0f1f6;
  }

  a:hover,
  a:focus,
  button:hover,
  button:focus {
    background: #dde9f8;
    color: #1d2636;
    outline: none;
  }

  a:hover svg,
  a:focus svg,
  button:hover svg,
  button:focus svg {
    fill: #1d2636;
  }
}