@use '@/styles/variables';

/* [Aside] Side Navbar */
.snb {
  min-width: 20%;
  height: 50%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  /* Title */
  &-title {
    margin-bottom: 1.5rem;
    font-size: 15px;
  }

  &-link {
    height: 2.75rem;
    width: 7.5rem;
    margin: 4px 2px;
    padding: 10px 20px;
    display: flex;
    align-content: center;
    gap: .5rem;
    color: #475569;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid variables.$border-default-1px;
    border-radius: 10px;
  }

  &-link:hover {
    background: #F2F2F0;
  }
}

/* [Aside Forum] Sub Title */
.snbMenu:first-child {
  margin-bottom: 1.5rem;
}
.snbMenu {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .snbList {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: .9rem;

    .snbTitle {
      margin: .5rem 0;
      font-size: .9rem;
      font-weight: 600;
      color: variables.$color-slate-gray;
    }

    .snbTitle:first-child {
      margin-top: .5rem;
    }

    .linkWrapper {
      margin-right: .5rem;
      padding: 0 .5rem;

      a {
        color: variables.$color-slate-text;
      }
    }

    .linkWrapper:hover {
      font-weight: bold;
    }
  }
}