.section {
  padding: 60px 50px; }
  .section .line-title {
    width: 400px;
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize; }
    .section .line-title::before, .section .line-title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      border-radius: 2px; }
    .section .line-title::before {
      width: 100%;
      background: #f2f2f2; }
    .section .line-title::after {
      width: 32px;
      background: #e73700; }
  .section .carousel-container {
    width: 100%;
    display: block;
    position: relative;
    overflow-x: hidden;
    z-index: 1; }
    .section .carousel-container .carousel-wrapper {
      display: flex;
      display: -webkit-flex;
      position: relative;
      touch-action: manipulation; }
      .section .carousel-container .carousel-wrapper .item {
        margin: 0 15px 60px;
        width: 320px;
        height: 400px;
        display: flex;
        display: -webkit-flex;
        flex: 0 0 auto;
        align-items: flex-end;
        -webkit-align-items: flex-end;
        background: #343434 no-repeat center center / cover;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        cursor: pointer; }
        .section .carousel-container .carousel-wrapper .item.active {
          width: 500px;
          box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25); }
        .section .carousel-container .carousel-wrapper .item:after {
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background-image: linear-gradient(rgba(0, 0, 0, 0), black); }
        .section .carousel-container .carousel-wrapper .item .item-desc {
          padding: 0 24px 12px;
          color: #fff;
          position: relative;
          z-index: 1;
          overflow: hidden;
          transform: translateY(calc(100% - 54px));
          transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out; }
          .section .carousel-container .carousel-wrapper .item .item-desc .main-text {
            opacity: 0;
            transform: translateY(32px);
            transition: all 0.4s ease-in-out 0.2s;
            -webkit-transition: all 0.4s ease-in-out 0.2s; }
        .section .carousel-container .carousel-wrapper .item.active .item-desc {
          transform: none; }
          .section .carousel-container .carousel-wrapper .item.active .item-desc .main-text {
            opacity: 1;
            transform: translateY(0); }
  .section .slide-dots {
    margin-top: -20px;
    position: relative;
    text-align: center;
    z-index: 5; }
    .section .slide-dots .slide-btn {
      background: none;
      border: none;
      font-size: 2em; }
      .section .slide-dots .slide-btn .dot-active {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #869791;
        display: block;
        transition: opacity 200ms;
        border-radius: 30px;
        -webkit-backface-visibility: visible; }
      .section .slide-dots .slide-btn .dot-passive {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #D6D6D6;
        display: block;
        transition: opacity 200ms ease;
        border-radius: 30px;
        -webkit-backface-visibility: visible; }

@media (min-width: 992px) and (max-width: 1199px) {
  .line-title {
    margin-bottom: 32px; }

  .item-title {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px; }

  /* -------- Landing page ------- */
  .section {
    padding: 50px 30px; }
    .section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px; }
      .section .item.active {
        width: 400px; }
      .section .item .item-desc {
        transform: translateY(calc(100% - 46px)); } }
@media (min-width: 768px) and (max-width: 991px) {
  .line-title {
    margin-bottom: 32px;
    width: 330px; }

  .item-title {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px; }

  /* -------- Landing page ------- */
  .section {
    padding: 50px 30px 40px; }
    .section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px; }
      .section .item.active {
        width: 360px; }
      .section .item .item-desc {
        transform: translateY(calc(100% - 42px)); } }
@media (max-width: 767px) {
  .line-title {
    margin-bottom: 20px;
    width: 250px; }

  .item-title {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px; }

  /* -------- Landing page ------- */
  .section {
    padding: 30px 15px 20px; }
    .section .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px; }
      .section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25); }
      .section .item .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px)); } }

/*# sourceMappingURL=MusicGameSlide.module.css.map */
