@use './variables';

// Font Property
@mixin font-base {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: variables.$base-font-size;
  font-weight: normal;
}

// Responsive Viewport (mobile, tablet)
@mixin respond-to($device) {
  @if $device == 'mobile' {
    @media (max-width: 768px) { @content; }
  }
  @else if $device == 'tablet' {
    @media (min-width: 769px) and (max-width: 1024px) { @content; }
  }
  @else if $device == 'laptop' {
    @media (min-width: 1025px) and (max-width: 1440px) { @content; }
  }
  @else if $device == 'desktop' {
    @media (min-width: 1441px) { @content; }
  }
}

@mixin mobile {
  @media screen and (max-width: variables.$responsive-mobile) {
    @content;
  }
}


/* [Global] Class Wrap Style */
@mixin global-wrap-style {
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}


/* [MS2] UserAccount profile-container MixIn */
@mixin profile-container {
  width: 100%;
  display: flex;
}

/* Grid Column */
@mixin threeColumnGrid($repeatValue, $columnSize) {
  display: grid;
  grid-template-columns: repeat($repeatValue, $columnSize);
  gap: 20px;
}

/* 그래디언트 */
@mixin radial-gradient($gradient , $fallback) {
  background: radial-gradient(at 15% 15%,$gradient, $fallback);
}