// Viewport
$responsive-mobile: 768px;
$responsive-tablet: 1200px;

// Font (Color)
$base-font-size: 1rem;
$base-font-family: Arial, sans-serif;
$base-font-color-dark: #333333;

// Color
$base-color-white: #fefefe;
$color-navbar-gray: #828282;
$color-light-blue: #D9DCE2;

$color-slate-gray : #708090 ;
$color-slate-palette : #A4B5C6 ;
$color-slate-text : #666 ;

$color-light-gray: #e5e5e5;
$color-medium-gray: #C5C5C5;
$color-dark-gray: #333333;

$color-gray80: #ccc;
$secondary-color: #5c5262;

// Bg - Color
$background-color-white: #fff;
$bg-color-white: #fff;
$bg-color-hov: #f3f4f6;

// Highlight - Color
$highlight-color: #9395D1;
$highlight-color: #39f;

// Border Color
$border-light-blue: #B1BDC5;
$border-color-forum: #c9ced6;
$base-color-border: #e5e5e5;

// index - GetStartButton
$bg-color-social: rgba(255, 255, 255, 0);
$bg-color-grass-hover: #6eddaa;
$bg-color-grass: #3dd28d;
$color-snow: #FFFFFF;
$color-smoke: #e4e4e4;

// Carousel Button
$active-color-button: #869791;
$passive-color-button: #D6D6D6;

/* Text Area */
$color-box-shadow: #00000029;
$color-text-area: #ccc;

/* Default Border */
$border-default-1px: 1px solid #D1D1D6;
$border-default-2px: 2px solid #D1D1D6;