@use "@/styles/variables";
@use '@/styles/Breakpoints';

/* Container */
.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: variables.$base-font-color-dark;
  background: variables.$color-light-gray;
}

/* Footer */
.ftr-sec {
  width: 1100px;
  margin: 0 auto;
}

.ftr-top {
  width: 1100px;
  margin: 50px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ftr-link {
    max-width: 40%;
    margin-left: 4.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }

  .ftr-nav {
    display: flex;
  }

  .ftr-item {
    margin-left: 60px;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: variables.$base-font-color-dark;
    }

    a {
      margin: .5rem 0;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: variables.$color-navbar-gray;
    }
  }
}

/* Site Legal */
.ftr-Legal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid variables.$base-font-color-dark;

  .text {
    margin: 1rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: variables.$color-navbar-gray;
  }
}

/* Media Responsive */
@media screen and (max-width: 1500px) {
  .landingpage {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1040px) {
  .box {
    flex-direction: column;

    .infobox {
      max-height: 450px;
      max-width: none;
      margin-bottom: 50px;
    }

    .display {
      display: none;
      max-height: none;
      max-width: none;
    }
  }
  .auction {
    .nft {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  }
  .discover-items {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
  .footer {
    flex-direction: column;

    &-main {
      max-width: 80%;
      margin-bottom: 50px;
      text-align: center;
    }

    &-navigate {
      .nav {
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .navlinkwrap {
    display: none;
  }
  .buttonwrap {
    display: none;
  }
  .hamburger {
    display: flex !important;
    align-items: center;
  }
  .started-slimtext {
    text-align: center;
  }
}

@media screen and (max-width: 825px) {
  .started-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 50px 0;

    &:before {
      height: 200px;
      top: 90px;
      filter: blur(120px);
    }
  }

  .discover-items {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .box {
    flex-direction: column;

    .infobox {
      max-height: none;
      max-width: none;
      margin-bottom: 50px;
    }

    .display {
      display: block;
      max-height: none;
      max-width: none;
    }
  }

  .discover-title {
    justify-content: center;

    .filters {
      display: none;
    }
  }
  .auction {
    .title {
      justify-content: center;

      .titleslim {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landingpage {
    padding: 0 20px;
  }

  .box {
    .infobox {
      &-boldtext {
        font-size: 45px;
        line-height: 50px;
      }

      &-slimtext {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .discover-items {
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .auction {
    .nft {
      grid-template-columns: auto;
      justify-content: space-around;
    }
  }
  .footer-main {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .footer-navigate {
    justify-content: space-between;
    width: 100%;

    .nav {
      margin-left: 20px;

      h5 {
        font-size: 15px;
        line-height: 30px;
      }

      p {
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .landingpage {
    .box {
      .infobox {
        &-boldtext {
          font-size: 32px;
          line-height: 1.4em;
          text-align: center;
        }

        &-slimtext {
          text-align: center;
        }

        &-btnwrapper {
          justify-content: center;
        }
      }
    }
  }
}

@keyframes leftslide {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rightslide {
  from {
    transform: translateX(550px);
  }
  to {
    transform: translateX(0px);
  }
}