@use "@/styles/variables";
@use "@/styles/Breakpoints";

.submitBtn {
  width: 100%;
  height: 48px;
  margin-bottom: .5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1em;
  color: #4FC3F7;
  border: 2px solid variables.$brand-representative-color;
  background: none;

  &:hover {
    color: variables.$base-color-white;
  }

  &:after {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    transition: all .3s linear;

    background: variables.$brand-representative-color;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }

  svg, span {
    z-index: 1;
  }
}