@import "src/styles/variables";

// Container - Details Page
.container {
  margin: 3rem 1rem;

  // User Section
  .user {
    display: flex;
    justify-content: flex-end;

    .name {
      margin-right: auto;

      .icon {
        padding-right: 5px;
      }
    }

    // item
    .details-item {
      display: flex;
      gap: .5rem;

      .save {
        cursor: pointer;
        background: none;
        border: none;
      }

      // Meatballs Menu - (active, passive)
      .meatballs {
        position: relative;
        cursor: pointer;

        .menu {
          width: 8rem;
          height: 4rem;
          padding: .5rem;
          display: none;
          position: absolute;
          background: $primary-color;
          border: 1px solid $color-border-forum;
          border-radius: .5rem;
          top: 20px;
          right: 0;
        }

        &.active .menu {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: .3rem;
        }
      }
    }
  }

  // Main Content
  .contents {
    margin-top: .5rem;

    .title {
      font-size: 1.875rem;
    }

    .main-text {
      margin-top: 1rem;
    }
  }
}