@use '@/styles/variables';

/* [main] Container */
.container {
  width: 100%;
  min-height: 100%;
  padding: 0 7.5rem;
  display: flex;
  flex-direction: column;
}

/* [div] 콘텐츠 컨테이너 */
.content-container {
  display: flex;
  flex-direction: column;

  .content-item-list {
    padding: 0 4rem;
  }
}

/* [NoticeNavigation] 네비게이션 */
.navigation {
  width: 100%;
  padding: .2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #D1D1D6;

  &-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &-item {
      font-size: 1.15rem;
      font-weight: bold;
    }

    &-item:first-child {
      margin-left: 7rem;
      padding: 1rem .5rem;
    }
  }

  ul {
    margin: 0;
  }
}

/* [ForumContainer] 이벤트, 공지사항 타이틀 */
.notice-container {
  margin: 0 4rem 0 7rem;
  display: flex;
  border-bottom: variables.$border-default-1px;

  .notice-new-post,
  .notice-title {
    margin: 1rem 0 0 0;
    padding: 1rem 0;
  }

  .notice-title {
    font-size: 1.25rem;
    font-weight: bold;

  }

  .notice-new-post {
    margin-left: auto;
    padding: 1rem;
  }

  .notice-new-post:hover {
    font-weight: bold;
  }
}