@import "@/styles/variables";

/* Division Line */
.division-line {
  width: 100%;
  padding: .625rem 0;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    flex: 1 1 10%;
    width: calc(40% - 20px);
    border-bottom: 1px solid rgb(193, 199, 198);
    margin: 0 .625rem;
    transform: translateY(-50%);
  }

  .line-text {
    font-size: .813rem;
    line-height: 16px;
    font-weight: normal;
    text-align: center;
    color: $base-font-color-dark;
  }
}