@use '@/styles/variables';

.container {
  width: 100%;
  min-height: 100%;
  padding: 0 7.5rem;

  .contents {
    display: flex;

    /* [ForumItem] Post Container */
    .forum-item-container {
      margin: 0;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: .25rem;
      overflow: hidden;

      .forum-list {
        max-width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid variables.$color-gray80;
        border-radius: 5px;
        overflow: hidden;

        /* [Author]User Name */
        .author-wrap {
          display: flex;
          align-items: center;
          gap: 3px;

          .post-author {
            line-height: 1;
            padding-top: .2rem;
          }
        }

        /* Title */
        .title-link {
          color: #333;
          white-space: normal;

          .title-text {
            margin: 0;
            padding: .3rem 0 0 0;
            font-size: 1.125em;
            font-weight: 500;
          }
        }
      }
    }


    /* Side Navbar */
    .slb-nav {
      min-width: 20%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      /* Title */
      .slb-title {
        margin-bottom: 1.5rem;

        .title {
          margin-bottom: .5rem;
          font-size: 1.2rem;
          font-weight: bold;
        }

        .link-write {
          height: 2.75rem;
          width: 7.5rem;
          margin: 4px 2px;
          padding: 10px 20px;
          display: flex;
          align-content: center;
          gap: .5rem;
          color: #475569;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid variables.$base-color-border;
          border-radius: 10px;
        }

        .link-write:hover {
          background: #F2F2F0;
        }

        .modal-background {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000; // 다른 요소 위에 렌더링
        }
      }

      /* Sub Title */
      .menu {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .sub-title {
          margin-bottom: .5rem;
          font-size: 1rem;
          font-weight: 600;
        }

        .item {
          gap: .5rem;
        }
      }
    }
  }

  /* Forum Footer */
  .forum-search,
  .forum-footer {
    display: flex;
    justify-content: center;
  }

  .forum-footer {
    margin: 2rem;
    gap: 1rem;

    .move-btn {
      background: none;
      border: none;
    }
  }

  .forum-search {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;

    .forum-footer-select {
      width: 5.375rem;
      height: 43px;
      text-align: center;
      border: 1px solid #D1D1D6;
    }

    .forum-footer-input {
      width: 20.063rem;
      height: 43px;
      padding: 0 1rem;
      line-height: 2.75rem;
      border: 1px solid #D1D1D6;
    }

    .forum-footer-input:focus {
      outline: none;
    }

    .forum-search-button {
      border: 1px solid #D1D1D6;
      background: none;

      svg {
        width: 100%;
        height: 100%;
        padding: 0 .8rem;
      }
    }
  }
}