.top {
  .top__logo {
    color: black;
    font-size: 2.5rem;
    padding: 1rem;
  }
}

.root__main {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  margin-top: 10vh;

  .agree__title {
    font-size: 2rem;
    text-align: center;
    color: #171A20;
    margin-bottom: 2rem;
  }

  .agreeAll__terms {
    border-bottom: 0.1rem solid #DBDBDB;
    padding-left: 2.5rem;

    .agreeAll__termsContent {
      margin-bottom: 0.5rem;

      .agreeAll__termsInput {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
      }

      .agreeAll__termsInput:checked {
        background: #9395D1;
        border: none;
      }

      .agreeAll__termsTitle {
        color: #767676;
        font-size: 1.3rem;
      }

      .agreeAll__termsDetail {
        color: #767676;
      }

      .agreeAll__termsDetail:hover {
        cursor: pointer;
      }
    }
  }

  .agree__terms {
    margin-top: 1rem;
    margin-left: 4rem;

    .agree__termsContent {
      margin-top: 1rem;

      .agree__termsInput {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid #999;
        appearance: none;
        cursor: pointer;
      }

      .agree__termsInput:checked {
        background: #9395D1;
        border: none;
      }

      .agree__termsTitle {
        color: #767676;
      }

      .agree__termsDetail {
        color: #767676;
        cursor: pointer;
      }
    }
  }

  .agree__submit {
    .agree__submitBtn {
      margin-top: 2.5rem;
      width: 20rem;
      height: 2.5rem;
      border: 1px solid gray;
      color: #393C41;
      background-color: #EEEEEE;
      cursor: pointer;
    }

    .agree__submitBtn:hover {
      margin-top: 2.5rem;
      width: 20rem;
      height: 2.5rem;
      border: 1px solid gray;
      color: #393C41;
      background-color: #dedede;
    }
  }
}