/*
Error: Invalid CSS after "...ude Breakpoints": expected selector or at-rule, was ".mobile {"
        on line 80 of Navbar.module.scss

75:   }
76: }
77: 
78: 
79: /* [Responsive Mobile] 768px *\/
80: @include Breakpoints.mobile {
81: 
82: }
83: 
84: /* [Responsive Tablet] 1200px *\/
85: @include Breakpoints.tablet {

Backtrace:
Navbar.module.scss:80
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Ruby31-x64/bin/sass:32:in `load'
C:/Ruby31-x64/bin/sass:32:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ude Breakpoints\": expected selector or at-rule, was \".mobile {\"\A         on line 80 of Navbar.module.scss\A \A 75:   }\A 76: }\A 77: \A 78: \A 79: /* [Responsive Mobile] 768px */\A 80: @include Breakpoints.mobile {\A 81: \A 82: }\A 83: \A 84: /* [Responsive Tablet] 1200px */\A 85: @include Breakpoints.tablet {"; }
