@use "@/styles/variables";
@use '@/styles/Breakpoints';

/* Navigation Container */
.navbar {
  width: 100%;
  padding: .3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252954;

  /* Navigation Home */
  .nav-logo {
    height: 100%;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

  /* Navigation Link Wrap */
  .nav-link-wrap {
    margin: 0 auto 0 3rem;
    padding: .5rem 0 0 0;
    display: flex;
    gap: 2rem;

    .nav-link {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;

      .nav-item {
        color: #BCBCBC;
      }

      .active-link {
        background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1.5px solid #9B51E0;
      }

      .non-active-link:not(:last-child) {
        margin-right: 32px;
      }
    }
  }


  /* SingIn SingUp Wrap */
  .login-menu-wrap {
    display: flex;
    align-items: center;
    align-content: center;
    gap: .5rem;
  }


  /* [Responsive] Hamburger Menu */
  .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }

  .hamburger-btn {
    display: none;
    color: #D7D7D7;
    background: #1F1D2B;
    border: none;
    margin-right: 10px;
  }
}


/* [Responsive Mobile] 768px */
@include Breakpoints.mobile {

}

/* [Responsive Tablet] 1200px */
@include Breakpoints.tablet {

}