@use "@/styles/variables";
@use '@/styles/Breakpoints';

/* Header(Navigation) */
.header {
  width: 100%;
  height: auto;
  z-index: 100;
  background: #fff;
  transition: background 0.5s;

  .navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    //position: sticky;
    //top: 0;
    //z-index: 1;
  }
}

/* SingIn SingUp Wrap */
.nav-session {
  display: flex;
  align-items: center;
  align-content: center;
  gap: .5rem;
}

/* Navigation Home */
.navbar-wrapper {
  display: flex;
  align-items: center;

  .navbar-logo {
    height: 100%;
  }
}

/* [Navigation] Link Wrap */
.nav-wrap {
  margin: 0 auto 0 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 3rem;

  .nav-link {
    position: relative;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;

    /* [Link] 네비게이션 아이템 */
    .nav-item {
      font-size: 1rem;
      color: #333;
    }

    /* [active] 네비게이션 액티브 이벤트 */
    .active-link {
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1.5px solid #9B51E0;
    }
  }
}

/* [Nav] 메가 메뉴 */
.mega-menu {
  width: 100%;
  padding: .5rem 0 .5rem 0;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background: #fff;
  transition: all 0.3s ease;
  display: none;

  .sub-menu {
    margin: 0;
    text-align: center;

    li {
      padding: 10px 0;
    }

    li:hover {
      background: #f0f0f0;
    }

    .sub-nav-item {
      text-align: center;
    }
  }
}

.nav-link:hover .mega-menu {
  display: block; // 메뉴 아이템에 호버하면 메가 메뉴 출력
}

/* [Navigation User Session Wrap]
 * 로그인, 로그아웃 버튼 */
.create-btn {
  margin: .5rem 0;
  padding: 0.713rem 1.875rem;
  background: transparent;
  border: none;
  color: #BCBCBC;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  &.selected-btn {
    border: 1px solid #D7D7D7;
    border-radius: 10px;
  }
}

/* [Navigation User Session Wrap]
 * 로그인시 노출 */
.user-session-wrap {
  display: flex;
  align-items: center;
  align-content: center;
  color: variables.$color-dark-gray;
  cursor: pointer;

  .user-session-info {
    padding: .4rem .3rem .3rem;
    font-weight: 500;
  }
}


/* TODO : Responsive Design */
/* [Responsive Mobile] 768px */
@include Breakpoints.respond-to('mobile') {
  .navbar {
    width: 100%;
    height: 56px;
    padding: 0.7rem 1rem;
  }

  .nav-link-wrap {
    display: none;
  }

  .nav-session {
    span {
      display: none;
    }
  }
}