@use "@/styles/variables";

.container {
  margin: 3rem 1rem;

  .title {
    margin-bottom: .5rem;
    font-size: 16px;
  }

  /* Comment TextArea */
  .text-wrapper {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px variables.$color-box-shadow;

    .text-box {
      resize: none;
      width: 90%;
      height: 40px;
      padding: 0.5rem;
      border: 1px solid variables.$color-text-area;
      border-radius: 5px;
      overflow: hidden;
    }

    .submit-btn {
      width: 6%;
      border: none;
      border-radius: 5px;
    }
  }

  .comment-wrapper {
    margin-top: 1.5rem;

    .comment-title {
      margin: 1rem 0;
    }

    .comment {

    }

    .none-text {

    }
  }
}