@use '@/styles/variables';

.container {
  height: 50rem;
}

/* 헤더 : 유저 타이틀 */
.header {
  padding: 5rem 0 2rem 0;

  &-contents {
    max-width: 360px;
    margin: 0 auto;
  }

  &-link {
    white-space: nowrap;

    &-item {
      width: 40%;
      padding: 0 1rem;

      span, em {
        display: block;
      }
    }

    &-item:first-child {
      margin: 1rem 1.5rem;
    }
  }
}

/* 메인 컨텐츠 : 예약 리스트 */
.main {
  &-contents {

  }

  &-section {
    padding: 0 0 1rem 0;
  }

  &-list {
    max-width: 720px;
    margin: 0 auto;
  }

  &-menu {
    padding: 1rem 5rem;
    border: variables.$border-default-1px;
    border-radius: 8px;
  }

  &-item:first-child {
    padding: 0 0 .3rem 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  &-check {
    svg {
      margin-right: .3rem;
    }
  }

  &-days {
    padding: .1rem .5rem;
    font-weight: 600;
    background: #3dd28d;
    border-radius: 8px;
  }

  &-link {
    font-weight: 700;
    font-weight: 700;
  }

  &-icon {
    margin-top: .5rem;

    a:first-child {
      margin-right: .5rem;
    }
  }
}