@import "@/styles/variables";

.menu {
  margin: 1rem 0;

  .user-item {
    padding: 0 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;

    .non-active {
      border-bottom: 2px solid transparent;
      transition: .35s;
    }

    .active-class {
      border-bottom: 2px solid $base-font-color-dark;
    }
  }
}