@use '@/styles/variables';

.timelineMenu {
  display: flex;
  justify-content: space-around;
  border-bottom: variables.$border-default-1px;

  button {
    background: none;
    border: none;
  }

  .active-btn,
  .timelineItem {
    margin-bottom: 1rem;
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;

    &:hover {
      font-weight: bold;
    }
  }

  .active-btn {
    font-weight: 600;
  }
}