@import 'src/app/styles/variables';

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .item-button {
    border: none;
  }

  // Dropdown Menu
  .list-wrapper {
    width: 11.875rem;
    height: 8.125rem;
    top: 4.063rem;
    right: 0;
    left: auto;
    border: 1px solid $border-color-forum;
    border-radius: .5rem;
    position: absolute;
    padding: .5rem 0;

    .list {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-bottom: 0;

      .list-item {
        padding: .5rem 1.5rem;

        .item {
          font-size: .875rem;
          font-weight: 400;
        }
      }
    }
  }

  .user-item {
    padding: 0 .5rem;
  }

  .img-box {
    display: flex;
    cursor: pointer;
  }
}