
.root__main {
  margin-left: 15rem;
  margin-right: 10rem;
  height: 41rem;
  background-color: #ececec;
  // background-color: #cfcfcf; /* #EEEEEE으로 설정된 배경하고 어울림 */
  border-radius: 0.55rem;

  .account {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 35rem;

    .account__top {
      display: flex;

      .account__profile {
        margin-top: 2.5rem;

        .account__image {
          align-items: center;
          background-color: black;
          border-radius: 100%;
          width: 8rem;
          height: 8rem;
        }

        .account__name {


        }
      }

      .account__activity {
        display: flex;
        margin-top: 2.5rem;
        margin-left: 5rem;

        .account__joinday {

          max-width: 10rem;

          h2 {


          }

          .account__joindayItem {


          }
        }

        .account__writen {


          .account__writenItem {


          }
        }
      }

    }

    .account__bottom {
      margin-top: 10rem;


      .account__info {
        display: flex;
        flex-direction: column;

        .account__infoEmail, .account__infoPassword {
          border-bottom: 1px solid #5F5F5F;

          h2 {

          }

          .account__infoTitle {


            .account__infoDetail {

            }
          }
        }
      }
    }
  }
}