/* [div] 콘텐츠 컨테이너 */
.content-container {
  display: flex;
  flex-direction: column;
}

/* [NoticeNavigation] 네비게이션 */
.navigation {
  width: 100%;
  padding: .2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #D1D1D6;

  &-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &-item {
      font-size: 1.15rem;
      font-weight: bold;
    }

    &-item:first-child {
      margin-left: 7rem;
      padding: 1rem .5rem;
    }
  }

  ul {
    margin: 0;
  }
}