@charset "UTF-8";
.container {
  padding: 0;
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 20rem 1fr;
  /* Support - page, Support - SLB 내부 h1*/
  /* SLB - Support Sidebar */
  /* Main Contents */ }
  .container h1 {
    font-size: 1.5rem;
    font-weight: bold; }
  .container .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc; }
    .container .aside .aside-menu {
      margin-top: 3rem; }
      .container .aside .aside-menu .aside-menu-item {
        padding: 0.5rem;
        transition: font-weight 0.25s ease-in-out, color 0.15s ease; }
      .container .aside .aside-menu .aside-menu-item:hover {
        cursor: pointer;
        font-weight: bold; }
      .container .aside .aside-menu .aside-menu-item:active {
        cursor: pointer;
        color: #8c8c8c; }
  .container .main {
    grid-area: main;
    padding: 0 8rem 0 3rem;
    height: 100%;
    /* Main - TopSection */
    /* Main - MidSection */
    /* Main - BottomSection */ }
    .container .main .top-section {
      margin-top: 3rem;
      /* Search Bar */ }
      .container .main .top-section .search-wrapper {
        display: flex;
        align-items: flex-start; }
        .container .main .top-section .search-wrapper input {
          padding: 1rem;
          width: 35rem;
          height: 2rem;
          border-radius: 50px;
          outline: none; }
      .container .main .top-section .current-path {
        margin-top: 2rem; }
      .container .main .top-section .device-type {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        font-weight: bold;
        color: #6d6d6d;
        padding: 0.7rem;
        border-bottom: 1px solid black;
        border-top: 1px solid black; }
        .container .main .top-section .device-type .device-item {
          padding: 0 1.5rem 0 1.5rem;
          transition: color 0.25s ease-in-out; }
          .container .main .top-section .device-type .device-item:hover {
            cursor: pointer;
            color: black; }
          .container .main .top-section .device-type .device-item:active {
            cursor: pointer;
            color: #6d6d6d; }
    .container .main .mid-section {
      margin-top: 3rem; }
      .container .main .mid-section .support-list {
        border-bottom: 1px solid black; }
        .container .main .mid-section .support-list .support-title {
          display: flex;
          flex-direction: row;
          gap: 2.5rem;
          padding: 1rem;
          cursor: pointer; }
          .container .main .mid-section .support-list .support-title .title-number {
            color: #2b9939;
            font-weight: bold; }
        .container .main .mid-section .support-list .support-content {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: padding 0.25s ease-out, max-height 0.25s ease-out, opacity 0.25s ease-out; }
        .container .main .mid-section .support-list .support-content.open {
          max-height: 10rem;
          padding: 1rem;
          opacity: 1; }
          .container .main .mid-section .support-list .support-content.open span {
            word-wrap: break-word; }
    .container .main .bottom-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 3.5rem 1rem 3.5rem; }
      .container .main .bottom-section .contactus-text {
        /* Your styles for contactus-text here */ }
      .container .main .bottom-section .contactus-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 3rem;
        font-weight: bold;
        background-color: #DBDBDB;
        border-radius: 10px; }

/*# sourceMappingURL=support.module.css.map */
