@import '../../styles/variables';

.header {
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $base-color-white;
  position: sticky;
  top: 0;

  .navigation {
    margin-right: auto;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 50px;
      font-size: 24px;
    }

    .menu {
      margin: 1rem 0;

      .user-item {
        padding: 0 20px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;

        .non-active {
          border-bottom: 2px solid transparent;
          transition: .35s;
        }

        .active-class {
          border-bottom: 2px solid $base-font-color-dark;
        }
      }
    }
  }
}