@charset "UTF-8";
.container {
  width: 100%;
  height: 60rem;
  display: flex; }

.page-header {
  width: 220px;
  color: #dde9f8;
  background: #242e42; }

/* Page Content Styles */
.page-content {
  width: calc(100% - 220px);
  left: 220px;
  min-height: 100vh;
  padding: 30px;
  color: #171616;
  background: #f0f1f6; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px; }
  .grid-container > article {
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075); }
    .grid-container > article h1 {
      font-size: 1.2rem;
      font-weight: 700; }
    .grid-container > article:first-child, .grid-container > article:last-child {
      padding: 2rem 3rem;
      grid-column: 1 / -1; }
  .grid-container .admin-article {
    height: 45.75rem; }

/* article first-child */
.reserve {
  max-width: 50rem;
  margin: 0 auto; }
  .reserve-inner {
    padding: 0 1rem; }
  .reserve-list {
    margin-bottom: 1rem;
    display: flex;
    gap: 3rem; }
  .reserve-item {
    width: 35rem; }
  .reserve-submit-btn {
    margin-left: auto; }
    .reserve-submit-btn button:first-child {
      margin-right: 1rem; }
    .reserve-submit-btn button {
      background: none;
      border: none; }
    .reserve-submit-btn button:hover {
      font-weight: bold; }

/* 예약페이지 네비게이션 */
.reserve-nav {
  margin: 1rem 0;
  display: flex;
  justify-content: center; }
  .reserve-nav .nav-item {
    padding: 0 1rem; }
  .reserve-nav button {
    margin: 0 .5rem;
    font-size: 1.1rem;
    background: none;
    border: none; }

/* MQ RULES */
@media screen and (max-width: 767px) {
  .page-header,
  .page-content {
    position: static;
    width: 100%; }

  .page-header {
    padding: 10px; }
    .page-header .admin-nav {
      flex-direction: row; }
    .page-header .logo {
      margin: 0; }
      .page-header .logo svg {
        width: 83px;
        height: 35px; }
    .page-header .toggle-mob-menu {
      display: block; }
    .page-header .admin-menu {
      position: absolute;
      left: 98px;
      top: 57px;
      margin-top: 0;
      z-index: 2;
      border-radius: 4px;
      background: #242e42;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.95);
      transition: all 0.2s; }
      .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px; }
      .page-header .admin-menu li:last-child button {
        display: none; }

  .page-content {
    min-height: 0;
    padding: 10px; }
    .page-content .grid-container {
      grid-gap: 10px; }
    .page-content .search-and-user {
      position: absolute;
      left: 131px;
      top: 10px;
      padding: 0;
      grid-column-gap: 5px;
      width: calc(100% - 141px);
      border-radius: 4px;
      background: transparent; }
      .page-content .search-and-user [type="search"] {
        font-size: 1rem;
        height: 35px; }
      .page-content .search-and-user form svg {
        width: 18px;
        height: 18px; }
      .page-content .search-and-user .admin-profile svg {
        fill: #fff; } }
@media screen and (max-width: 400px) {
  .page-content .grid > article {
    grid-column: 1 / -1; } }
@media screen and (min-width: 768px) {
  .collapsed .page-header {
    width: 40px; }
    .collapsed .page-header .admin-menu li > * {
      padding: 10px; }
    .collapsed .page-header .admin-menu svg {
      margin-right: 0; }
    .collapsed .page-header .logo,
    .collapsed .page-header .admin-menu span,
    .collapsed .page-header .admin-menu .menu-heading {
      display: none; }
    .collapsed .page-header .collapse-btn svg {
      transform: rotate(180deg); }
  .collapsed .page-content {
    left: 40px;
    width: calc(100% - 40px); } }
@media screen and (max-width: 767px) {
  .light-mode .search-and-user .admin-profile svg {
    fill: #333; } }

/*# sourceMappingURL=Admin.module.css.map */
