@use "@/styles/variables";
@use "@/styles/Breakpoints";

/* 페이지 */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: variables.$bg-color-white;

  .contents {
    width: 31.25rem;
    margin: 0 auto;
    padding: 2.5rem 0 1.875rem 0;
  }
}

/* 회원가임 콘텐츠 */
.join {
  max-width: 33.125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* Section (Header) */
  .logoSection {
    width: 100%;
    margin-bottom: 1em;

    .logo {
      width: 300px;
      margin: 0 auto;
      text-align: center;
    }
  }

  /* Section (Social Login) */
  .social-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* Form (Sign-Up) */
.form {
  width: 30rem;
  display: flex;
  flex-direction: column;

  .formFieldset {

  }

  .inputInner {
    width: 100%;
    margin-bottom: 1rem;

  }

  .inputItem {
    width: 100%;
    border: 1px solid #9fa1a7;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
  }

  .inputLabel {
    margin: 0 20px;
  }

  .inputText {
    width: 85%;
    padding: .8rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}