@import "@/styles/variables";
@import "@/styles/Breakpoints";

.main {
  width: 100%;
  min-height: 37.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: $bg-color-white;

  .container {
    width: 31.25rem;
    min-width: 100vh;
    margin: 0 auto;
    padding: 10.5rem 0 1.875rem 0;
  }
}

.login {
  max-width: 23.125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .login-logo {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
  }
}

// login form
.form {
  display: flex;
  flex-direction: column;
  gap: .188rem;

  .input-error {
    margin-right: auto;

    .error-text {
      font-size: .75rem;
      color: red;
    }
  }
}

/* 회원가입 & 아이디 비밀번호 찾기 */
.create-account {
  width: 19.999rem;
  margin: .5rem 0;
  display: flex;
  justify-content: space-around;
  font-size: .85rem;

  .link {
    font-weight: 600;
  }
}