@use '@/styles/variables';
/* [Login] Dropdown Menu */
.dropdown {
  width: 13rem;
  height: 10.5rem;
  top: 75px;
  right: 35px;
  position: absolute;
  border: variables.$border-default-1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: variables.$base-color-white;
  transition: all 0.3s ease;
  z-index: 1;

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
}

.dropdown-section {
  padding: .5rem;

  &-user {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &-menu {
    display: flex;
    align-items: center;

    .dropdown-section-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    a:hover {
      font-weight: bold;
    }
  }
}